<% include ./partials/header.ejs %>
<h1 class="font-semibold m-10 text-3xl">Edit Your Details</h1>
<div class="edit_form flex flex-wrap items-center justify-center text-center">
    <form  action="/edit" method="post">
        <div class="email">
            <label class="label">Email</label>
        <input class="bg-black w-96 rounded-full text-white px-5 py-2 block mb-6" type="email" name="email" value=<%= user.email %>>
        </div>
        <div class="username">
            <label class="label" for="">Username</label>
        <input class="bg-black w-96 rounded-full text-white px-5 py-2 block mb-6" type="text" name="username" value=<%= user.username %>>
        </div>
        <div class="fullname">
            <label class="label" for="">Full Name</label>
        <input class="bg-black w-96 rounded-full text-white px-5 py-2 block mb-6" type="text" name="fullname" value=<%= user.fullname %>>
        </div>
        <input class="edit_form_btn bg-red-600 font-semibold rounded-full px-10  mt-10 p-2" type="submit" value="Update Details">
    </form>
</div>

<script>
    console.log(user.username)
</script>
<% include ./partials/footer.ejs %>
