<% include ./partials/header.ejs %>
<div class="w-full min-h-screen bg-zinc-800 px-10 py-8 flex text-white justify-center items-center text-center">
    <h1>No Favorites</h1>
</div>
<% include ./partials/footer.ejs %>