<% include ./partials/header.ejs %>
<div class="mt-10">
    <a href="/" class="forget_login bg-red-600  mt-10 px-7 font-semibold rounded-full p-2 text-center">Login</a>
</div>
<div class="otp_container flex h-96 mt-10 justify-center items-center ">
    <div class="otp_form_container">
        <p class="text-3xl">Enter Your new Password</p>
        <form class="" action="/passchange" method="post">
            <input class="bg-black rounded-full w-52 mt-10 p-2 block hidden" type="text" name="mobileno" id="mobileno" value="<%= mno %>" >
            <div class="flex justify-center items-center">
                <input id="passwordInput" class="bg-black rounded-full w-64 mt-10 p-2 block" type="password" name="password" id="password" placeholder="******" required>
                <button type="button" class="toggle_btn bg-red-600" id="toggleButton" onclick="togglePassword()">Show</button>
            </div>
            <input class="otp_submit bg-red-600 mt-10  rounded-full px-6 p-2 text-xl font-semibold" type="submit" name="" id="" value="Change Password">
        </form>
    </div>
</div>
<script>

    function togglePassword() {
 
        var passwordInput = document.getElementById('passwordInput');

        var toggleButton = document.getElementById('toggleButton');

        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            toggleButton.textContent = 'Hide';
        } else {
            passwordInput.type = 'password';
            toggleButton.textContent = 'Show';
        }
    }
</script>
<% include ./partials/footer.ejs %>