<% include ./partials/header.ejs %>
<div class="mt-10">
    <a href="/" class="forget_login bg-red-600  mt-10 px-7 font-semibold rounded-full p-2 text-center">Login</a>
</div>
<div class="otp_container flex h-96 mt-10 justify-center items-center ">
    <div class="text-3xl">
        Wrong Password Back to Login Page
    </div>
</div>
<script>
</script>
<% include ./partials/footer.ejs %>