* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1400px;
  margin: 10px auto;
  columns: 4;
  column-gap: 10px;
}

.container .box {
  width: 100%;
  margin-bottom: 10px;
}

.container .box img {
  max-width: 100%;
  border-radius: 15px;
  margin-bottom: 10px;
}

a img:hover{
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition: filter .5s ease-in-out;
}



